* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

h1
{
	text-align: center;
	letter-spacing: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 36px;
	font-weight: 900;
	color: #00008B;
}

h2
{
	font-size: 25px;
	border-bottom: 2px solid black;
	padding: 3px;
	margin-bottom: 10px;
}

p
{
	font-weight: 700;
	padding: 5px;
}

.menuButton
{
	width: 70%;
	padding: 5px;
	font-weight: 700;
	background-color: #FF8C00;
	margin-bottom: 5px;
}

.menuButton:hover
{
	opacity: 0.8;
}

#wrap
{
	background-color: #E9967A;
	height: 100vh;
}

#container
{
	margin-left: 20px;
	margin-right: 20px;
	height: 500px;
	border: 4px solid black;
}

#game
{
	width: 70%;
	height: 100%;
	background-color: white;
	float: left;
	text-align: center;
	border-right: 4px solid black;
}

.board
{
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(20, 1fr);
}

.board_element
{
	background-color: red;
}

.snake
{
	background-color: black;
}

.food
{
	background-color: yellow;
}

#game #logo img
{
	display: block;
	width: 100%;
	height: 100%;
}

#game #gameOver
{
	display: none;
	width: 100%;
	height: 100%;	
	overflow:hidden;
}

#panel
{
	width: 30%;
	height: 100%;
	background-color: #D3D3D3;
	display: inline-block;
	float: left;
	text-align: center;
	padding: 10px;
}

#questPanel p
{
	font-size: 20px;
}

#nicknameForm
{
	
}

#txtNickname
{
	margin: 10px;
	padding: 5px;
	font-size: 16px;
	color: gray;
}

#buttonSubmit
{
	padding: 5px;
	font-size: 16px;
	color: black;
}

#playerPanel
{
	display: none;
}